* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    font-family: sans-serif;
    background-color: rgba(60, 60, 60, 0.868);
}

.container {
    background-color: rgba(31, 28, 28, 0.677);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    margin: auto;
    text-align: center;
    position: relative;
    min-width: 300px;
}

.container h1 {
    margin-bottom: 20px;
}

.container #taskForm {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    position: sticky;
    top: 10px;
}

#taskForm input[type="text"] {
    flex: 1;
    padding-left: 5px;
    border: none;
    margin-right: 10px;
    font-size: 1em;
    font-weight: bold;
    background: transparent;
}


#taskForm input[type="text"]:focus {
    outline: none;
}

#taskForm button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(31, 28, 28, 0.886);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#taskForm button:hover {
    background-color: rgba(22, 21, 21, 0.901);
}

#taskList {
    list-style: none;
    margin-top: 20px;
}



#taskList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

#taskList li div{
    display: flex;
    align-items: center;
    max-width: 90%;
}

#taskList li label{
    cursor: pointer;
    text-transform: capitalize;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1.5em;
}


#taskList li i {
    cursor: pointer;
    /* transform: scale(1); */
    transition: color 0.3s, transform 0.3s;

}

#taskList li i:hover {
    color: #FFD43B;
    transform: scale(1.1);
}

#taskList li input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.3em;
    height: 1.3em;
    background-color: rgb(150, 150, 150);
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
}

#taskList li input[type="checkbox"]:checked {
    background-color: transparent;
    border: 3px solid transparent;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

#taskList li input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.5);
}

#taskList li input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    width: 0.7em;
    height: 0.3em;
    border: 3px solid white;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    top: 0.15em;
    left: 0em;
}

@media screen and (max-width: 768px) {
    body{
        padding: 0px;
        background-color: rgb(31, 28, 28);
    }

    .container {
        min-width: 100%;
        border-radius: none;
        background-color: transparent;
        box-shadow: none;
    }

    #taskForm {
        /* flex-direction: column; */
        /* align-items: stretch; */
        width: 100%;
    }

    #taskForm input[type="text"] {
        /* margin-bottom: 10px; */
        /* width: 100%; */
    }

    #taskForm button {
        /* width: 100%; */
    }
}